.product {
  display: flex;
  border-bottom: 1px solid #c2c0dd;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.product-details-single {
  margin-left: 2rem;
}
.product-name a {
  color: #090b2b;
  font-weight: 500;
  text-decoration: none;
}
.product-name a:hover {
  color: #5b58ed;
}
.main-button {
  background-color: #ffa14a;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.main-button:hover {
  color: white;
  background-color: #5b58ed;
}
